:root {
  --customPrimary: #6a687a;
}
/* Default styles first (Mobile First) */
body {
  font-family: Arial, sans-serif;
  font-size: medium;
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: var(--customPrimary);
  border-color: var(--customPrimary);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Your CSS here */
  body {
    font-size: medium;
  }
  .navbar-brand {
    font-size: medium !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your CSS here */
  body {
    font-size: medium;
  }
  .navbar-brand {
    font-size: medium !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your CSS here */
  body {
    font-size: medium;
  }
  .navbar-brand {
    font-size: medium !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your CSS here */
  body {
    font-size: x-large;
  }
  .navbar-brand {
    font-size: x-large !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Your CSS here */
  body {
    font-size: xx-large;
  }
  .navbar-brand {
    font-size: xx-large !important;
  }
}
